@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;

    /* application colors */
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --salmon: 255, 148, 124;
    --yellow: 240, 187, 0;
    --middle-blue: 26, 39, 73;
    --dark-blue: 14, 25, 43;
    --black-blue: 6, 13, 24;
    --lillish: 184, 192, 248;
    --dark-lillish: 142, 156, 255;
    --green: 85, 243, 206;

    /* original theme colors */
    --paper: var(--white);
    --ink: var(--black);
    --neon: var(--salmon);
    --action: var(--yellow);
    --gradient-top: var(--middle-blue);
    --gradient-bottom: var(--black-blue);
    --level2: var(--dark-blue);
    --level1: var(--black-blue);
    --emphasis: var(--lillish);
    --wording: var(--dark-lillish);
    --highlight: var(--green);
  }

  .dark {
  }

  * {
    @apply border-border;
  }

  /* add light-mode class to the <html> tag to activate it */
  html.light-mode {
    filter: invert(1) hue-rotate(180deg);
  }
  html.light-mode img {
    filter: invert(1) hue-rotate(180deg);
  }
  html.light-mode menu img {
    filter: invert(0) hue-rotate(0deg);
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}
